body { background: #ecf0f1 }

h1 { font-size: 60px; font-family: 'Open Sans', sans-serif; text-align: center; }

path.country {  stroke: #aaa; }

.page1 .page2 { margin:auto; }

.tooltip {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px;
  padding: 5px;
  text-align: center;
}

/* ================================= Buttons ================================= */

#button_container {
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

button {
  background: #e87e04;
  border: none;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  transition-duration: 0.5s;
}

.enabled-button {}

.enabled-button:hover {
  background-color: #e89932;
}

.disabled-button {
  background-color: #e89932;
}

#dropdown_container {
  background-color: #e87e04;
  border: none;
  border-radius: 15px;
  display: inline-block;
  margin: 0 5px;
  padding-left: 5px;
  visibility: hidden;
  width: 280px;
}

#dropdown {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  margin: 0 5px;
  padding: 10px 0;
  outline: none;
  width: 265px;
}

#dropdown option {
  color: #000;
}

.line_graph_tip {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  opacity: 0.6;
  padding: 8px;
}
